.header {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-color: rgb(205, 205, 205) ;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.left-section {
  display: flex;
  margin-left: 24px;
}

.ham-menu {
  height: 24px;
  margin-right: 20px;
}

.yt-logo {
  height: 20px;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
  margin-left: 40px;
  margin-right: 40px;
}

.search-bar {
  height: 36px;
  flex: 1;
  padding-left: 10px;
  border-width: 1px;
  border-radius: 2px;
  border-color: rgb(193, 193, 193);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  border-style: solid;
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto;
  font-size: 16px;
}

.search-button {
  border-style: solid;
  background-color: rgb(240, 240, 240);
  border-color: rgb(193, 193, 193);
  border-width: 1px;
  height: 39px;
  width: 66px;
  margin-right: 10px;
  margin-left: -1px;
}

.search-button , 
.voice-button ,
.video-icon-div ,
.yt-apps-icon-div ,
.notifications-div
{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip ,
.voice-button .tooltip ,
.video-icon-div .tooltip ,
.yt-apps-icon-div .tooltip ,
.notifications-div .tooltip
{
  font-family: Roboto;
  border-radius: 2px;
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: gray;
  color: white;
  bottom: -32px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip ,
.voice-button:hover .tooltip ,
.video-icon-div:hover .tooltip ,
.yt-apps-icon-div:hover .tooltip ,
.notifications-div:hover .tooltip
{
  opacity: 1;
}
.search-icon {
  height: 20px;
  background-color: rgb(240, 240, 240);
}

.voice-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
}

.voice-icon {
  height: 26px;
}

.right-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin-right: 30px;
  flex-shrink: 0;
}

.video-icon {
  height: 24px;
}

.yt-apps-icon {
  height: 24px;
}

.notifications-div {
  position: relative;
}
.notifications-alert {
  position: absolute;
  background-color: rgb(196, 8, 8);
  color: white;
  right: -4px;
  top: -2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 10px;
  border-radius: 10px;
  font-family: Roboto;
}

.notifications-icon {
  height: 24px;
}

.user-pic {
  height: 32px;
  border-radius: 15px;
}